{%extends 'adminhome.html'%}
{%block mainpanel%}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add New Product</h4>
          
          <form class="forms-sample " method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
              <label >Product Name</label>
              <input type="text" class="form-control text-light" name="imgname" placeholder="Name" required >
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control text-light" name="description" placeholder="Description" required>
            </div>

            <div class="form-group">
              <label for="size">Size Chart</label>
              <input type="text" class="form-control text-light" name="size" placeholder="Size" required>
            </div>

            <div class="form-group">
              <label for="fabric">Fabric</label>
              <input type="text" class="form-control text-light" name="fabric" placeholder="Fabric" required>
            </div>

            <div class="form-group">
              <label for="type">Type Of Dress</label>
              <input type="text" class="form-control text-light" name="type" placeholder="Type Of Dress" required>
            </div>

            <div class="form-group">
              <label for="pattern">Pattern</label>
              <input type="text" class="form-control text-light" name="pattern" placeholder="Pattern" required>
            </div>

            <div class="form-group">
              <label for="dtls4">Details</label>
              <input type="text" class="form-control text-light" name="dtls4" placeholder="Not Required">
            </div>

            <div class="form-group">
              <label for="dtls5">Details</label>
              <input type="text" class="form-control text-light" name="dtls5" placeholder="Not Required">
            </div>

            <div class="form-group">
              <label for="category">Select a category</label>
              <select class="form-control text-light" name="category">
                <option value='none' aria-required="">Select a category...</option>
                {% for category in categories %}
                <option value='{{category.id}}'>{{category.name}}</option>
                {% endfor %}
              </select>
            </div>

            <!--  'create new category' should remove after created category fully -->

            <!-- <div class="form-group">
              <label for="category_new">Create New Category</label>
              <input type="text" class="form-control text-light" name="category_new" placeholder="Create New Category">
            </div> -->
            

            <div class="form-group">

              <label>Upload main image</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image" class="form-control file-upload-browse text-light" placeholder="Upload Image" required>
              </div>

              <label>Upload Slide image1</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image1" class="form-control file-upload-browse text-light" placeholder="Upload Image" required>
              </div>

              <label>Upload Slide image2</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image2" class="form-control file-upload-browse text-light" placeholder="Upload Image" required>
              </div>

              <label>Upload Slide image3</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image3" class="form-control file-upload-browse text-light" placeholder="Upload Image" required>
              </div>

              <label>Upload Slide image4</label>
              <div class="input-group col-xs-12">
                <input type="file" name="image4" class="form-control file-upload-browse text-light" placeholder="Upload Image" required>
              </div>

            </div>
            <div class="form-group">
              <button type="submit" onclick="return confirm('Sure to submit ?')"class="btn btn-primary me-2">Submit</button>
              <a href="{% url 'adhome' %}" class="btn btn-dark my-3">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © helderlifestyle.com
        2022</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Developed and Designed by <a
          href="">InstaDesign</a></span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
{%endblock mainpanel%}